  h1 {
      padding: 1rem 0 0 1rem;
      text-align: center;
      font-size: 1.5rem;
  }

  header {
      background: rgb(200, 200, 200);
  }

  header nav {
      display: flex;
      flex-direction: column;
      row-gap: 0rem;
      align-items: center;
      
      
  }

  header nav a {
      border: 2px solid black;
      text-decoration: none;
      padding: 0.5rem;
      background: white;
      color: black;
      
      
  }

  main{
    width: 100%;
  }
   #container {
        width: 100%;
       display: flex;
       flex-direction: column;
       margin: auto;

   }

   #container img{
    width: 100%;
    padding: 1rem;
   }

   #container div{
    width: 100%;
   }

   #container a{
    margin: auto;
    
   }


   #container h2 {
       margin: auto;

   }

    #contact div {
        width: 48%;
        padding: 0.5rem;
    
        }
    
        #contact div img {
        width: 100%;
        }
    